@page
@model TestCoreRazor.Pages.BookList.IndexModel
@{
    ViewData["Title"] = "Index";
}

<br/>

<div class="container row p-0 m-0">
    <div class="col-10">

    </div>
    <div class="col-2">

    </div>
</div>

